<div class="form_search">
<%= form_tag boats_path, method: :get do %>
  <%= label_tag(:location, "Where?") %>


  <%= text_field_tag :location,
    params[:location],
    class: "form-control"
  %>
  <%= label_tag(:capacity, "How many Buddies?") %>

<%= select_tag :capacity, raw("
    <option></option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>") %>

 <br>
  <%= label_tag(:dateDebut, "Date de début de location:") %>
  <%= text_field_tag(:dateDebut, params[:dateDebut]) %>
  <%= label_tag(:dateFin, "Date de fin:") %>
  <%= text_field_tag(:dateFin, params[:dateFin]) %>

  <%= label_tag(:boatType, "Type of boat" )%>
  <%= select_tag :boatType, raw("<option></option><option>Voilier</option><option>Bateau à Moteur</option>") %>
  <%= submit_tag("Search", class: "button")%>
<% end %>
</div>

