<div class="form_search">
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Category:") %>
  <%= text_field_tag(:q) %>
</br>
  <%= label_tag(:q, "Capacity:") %>
  <%= text_field_tag(:q) %>
</br>
  <%= label_tag(:dateDebut, "Beginning date:") %>
  <%= text_field_tag(:dateDebut) %>
  <%= label_tag(:dateFin, "Ending date:") %>
  <%= text_field_tag(:dateFin) %>
</br>
  <%= submit_tag("Search", class: "button")%>
<% end %>
</div>
