
<div class="title-results">
  <h1>Results :</h1>
</div>

<div class="main-container">

  <div class="row col-8 ">
    <% @boats.each do |boat| %>
      <div class="col-4">
        <a href = "<%=boat_path(boat)%>">
        <div class="card-boat">
          <%= cl_image_tag boat.photo, height: 300, width: 400, crop: :fill %>

          <div class="card-trip-infos">

            <div class="boat-name">
              <h2><%=boat.name%></h2>
              <p><%=boat.category %> </p>
            </div>

            <div class="boat-capacity">
              <i class="far fa-user"></i>
              <p><%= boat.capacity%></p>
            </div>

            <div class="boat-location">
              <i class="fas fa-map-marker-alt"></i>
              <p><%= boat.location %></p>
            </div>

            <div>
              <h2 class="card-trip-pricing"><%= boat.price%><%="€ / Day"%></h2>
              <p><%= "#{boat.owner.first_name} #{boat.owner.last_name}" %></p>
            </div>

            <% if boat.skipper == true %>
              <div class="boat-skipper">
                <i class="fas fa-anchor"></i>
              </div>
            <% end %>

          </div>
        </div>
      </a>
      </div>
    <% end %>
  </div>

  <div class="row-map col-4 ">
    <div id = "map" ;" data-markers="<%=@markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <%= render 'forms/search' %>
  </div>

</div>
