
<div class="title-results">
  <h1>Results :</h1>
</div>

<div class="main-container">

  <div class="row col-8 ">
    <% @boats.each do |boat| %>
      <div class="col-4">
        <a href = "<%=boat_path(boat)%>">
        <div class="card-boat">
          <img src="https://images.unsplash.com/photo-1520255870062-bd79d3865de7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3304&q=80">

          <div class="card-trip-infos">

            <div class="boat-name">
              <h2><%=boat.name%></h2>
              <p><%=boat.category %> </p>
            </div>

            <div class="boat-capacity">
              <i class="far fa-user"></i>
              <p><%= boat.capacity%></p>
            </div>

            <div class="boat-location">
              <i class="fas fa-map-marker-alt"></i>
              <p><%= boat.location %></p>
            </div>

            <div>
              <h2 class="card-trip-pricing"><%= boat.price%><%="€ / Day"%></h2>
              <p><%= "#{boat.owner.first_name} #{boat.owner.last_name}" %></p>
            </div>

            <% if boat.skipper == true %>
              <div class="boat-skipper">
                <i class="fas fa-anchor"></i>
              </div>
            <% end %>

          </div>
        </div>
      </a>
      </div>
    <% end %>
  </div>

  <div class="row-map col-4 ">
    <div id = "map" ;" data-markers="<%=@markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <%= render 'forms/search' %>
  </div>

</div>


<!-- <div class="_zhz0z8"><div id="listing-2433060" class="_y89bwt"><div class="_1dp4576"><div aria-hidden="false" class="_e296pg"><div class="_e296pg"><div class="_13ky0r6y" style="padding-top: 66.6667%; background: rgb(216, 216, 216);"><div class="_1szwzht"><a href="/rooms/2433060" target="_blank" aria-hidden="true" tabindex="-1"><span class="_1m8bb6v">City Penthouse in Central Cape Town</span><div class="_qptau"><div class="_yydl86"><div class="_1na7kj9b"><div class="_e296pg" style="width: 100%; height: 100%;"><div class="_1df8dftk" role="img" aria-label="City Penthouse in Central Cape Town" style="width: 100%; height: 100%; background-image: url(&quot;https://a0.muscache.com/im/pictures/79452273/12bc436d_original.jpg?aki_policy=large&quot;);"></div></div></div></div></div></a></div></div><div class="_qugwxa7" aria-hidden="false"><div class="_tk908t"></div></div></div></div></div><div class="_v72lrv"><a href="/rooms/2433060" target="_blank" rel="noopener" data-check-info-section="true" class="_1ol0z3h"><div role="text"><div class="_wuffzwa" style="color: rgb(118, 118, 118);"><div class="_1etkxf1" style="color: rgb(118, 118, 118);"><span class="_1xxanas2"><span style="color: rgb(118, 118, 118);">Logement entier<span aria-hidden="true"> · </span>Le Cap</span></span></div></div><div style="margin-top: 4px;"><div class="_1pkilk3o"><div class="_18ilrswp"><div class="_36rlri">City Penthouse in Central Cape Town</div></div></div></div><div style="margin-top: 2px;"><div class="_hdbaj7"><div class="_36rlri"><span class="_q27mtmr"><span role="img" aria-label="Évaluation de 5 sur 5" class="_rs3rozr" style="width: 50px;"><span class="_83zdpk" style="width: 50px;"><span class="_ogu8zgi" style="width: 50px;"></span></span></span></span><span class="_1m8bb6v">237 commentaires</span><span class="_1gvnvab" aria-hidden="true"><span class="_so3dpm2">237</span></span></div><span class="_so3dpm2"><span aria-hidden="true"> · </span>Superhost</span></div></div></div></a></div></div></div>
 -->
